body {
  margin: 0;
  background-color: #ff6969;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px 0 50px 0;
  background-color: #ff6969;
}
.header-link {
  color: #fff5e0;
  margin: 0 20px 0 20px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: 0.5s;
}
.header-link:hover {
  margin: 0 30px 0 30px;
  transition: 0.5s;
  text-decoration: underline;
  text-decoration-line: underline;
}
.main-logo {
  color: white;
  margin-right: 100px;
  font-size: 1.5rem;
}
.logo {
  color: #141e46;
  font-weight: 800;
}

h1 {
  color: #141e46;
  font-size: 2rem;
  font-weight: 800;
}
.post-header {
  text-align: center;
  padding: 7% 12% 7% 12%;
  margin: 0;
  background-color: #fff5e0;
}
.intro {
  margin: auto;
  width: 70%;
}
.credits {
  color: #c70039;
  font-weight: 600;
}

.list-section {
  text-align: center;
  padding: 0 12% 7% 12%;
}
h2 {
  color: white;
  font-size: 1.7rem;
  animation: fade ease 1s;
  animation-timeline: view();
}
.item {
  padding: 7% 0 7% 0;
}
.img {
  animation: img ease 1s;
  animation-timeline: view();
  width: 40rem;
  margin-bottom: 30px;
  border-radius: 20px;
  transition: 0.5s;
}
.img:hover {
  transition: 0.5s;
  box-shadow: #fff5e0 0px 0px 30px;
}
.job-descr {
  animation: fade ease 3s;
  animation-timeline: view();
  margin: auto;
  width: 60%;
  color: #fff5e0;
  font-size: 1.2rem;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes img {
  from {
    opacity: 0;
    width: 30rem;
  }
  to {
    opacity: 1;
    translate: 0px 15px;
  }
}
